.backgroundCamera{
    position:relative;
    height: 100%;
    // background:url(../../../assets/img/casa_fea.png) no-repeat center / cover;
}
.backgroundFilter{
	width:100%;
	height:100%;
	position:absolute;
    background: rgba(99, 234, 9, 0.9);
    color:#fff;
    text-align: center
}