svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon path {
    stroke: rgba(255,255,255,0.9);
    fill: none;
    stroke-width: 1;
}
input, button {
  outline: none;
  border: none;
}


.login {
  position: relative;
  height: 100%;
  background: url("../../../assets/images/Untitled.jpg") no-repeat ;
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
  
  &__form {
    // position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
  }
  
  &__row {
    height: 5rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  
  &__icon {
    margin-bottom: -0.4rem;
    
    &.name path {
      stroke-dasharray: 73.50196075439453;
      stroke-dashoffset: 73.50196075439453;
      animation: animatePath 3s 0.5s forwards;
      animation-delay: 5s;
    }
    &.pass path {
      stroke-dasharray: 92.10662841796875;
      stroke-dashoffset: 92.10662841796875;
      animation: animatePath 3s 0.5s forwards;
      animation-delay: 5s;
    }
  }
  
  &__input {
    display: inline-block;
    width: 65vw;
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: #FDFCFD;
  }
  
  &__submit {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 5rem 0 2.2rem;
    color: rgba(255,255,255,0.8);    
    background-color: rgba(20, 19, 19, 0.8) !important;  
    font-size: 1.5rem;
    border-radius: 3rem;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  }  
}

@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}

img{
    width: 50%;
}

.imgContainer{
    text-align: center;
}

::placeholder {
    color:white;
}

.defaultUsers{
  text-align: center;
}
.button{
    background-color: transparent;
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    color: #FDFCFD;
    transition: .3s;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #f7f7f7;
    }
    &:nth-of-type(2):after {
      left: 0;
    }
    &:nth-of-type(3):after {
      right: 0;
      left: auto;
    }
    &:nth-of-type(4):after {
      left: 0;
      bottom: auto;
      top: -3px;
      width: 100%;
    }
    &:nth-of-type(5):after {
      height: 120%;
      left: -10%;
      transform: skewX(15deg);
      z-index: -1;
    }
    &:hover {
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
      }
      &:nth-of-type(4):after {
        top: calc(100% - 3px);
      }
      &:nth-of-type(5) {
        color: hsl(41, 100%, 68%);
      }
      &:nth-of-type(5):after {
        left: -10%;
        width: 120%;
      }

      &:nth-of-type(6) {
        border-radius: 30px;
      }
      &:nth-of-type(6):after {
        width: 0%;
      }
      &:nth-of-type(7) {
        transform: scale(1.2);
      }
      &:nth-of-type(7):after {
        width: 0%;
      }
      &:nth-of-type(8) {
        box-shadow: inset 0px 0px 0px 3px #f7f7f7;
      }
      &:nth-of-type(8):after {
        width: 0%;
      }
      &:nth-of-type(9) {
        box-shadow: 0px 0px 0px 3px #f7f7f7;
      }
      &:nth-of-type(9):after {
        width: 0%;
      }
    }  
}

#encabezado{
  background-color: aqua
}